<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="col-md-12 pt-3 row">
            <div class="col-md-3 card mb-4 p-0 shadow-sm" *ngFor="let book of list">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{book.name}}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title"> <small class="text-muted">R {{book.purchasePrice}}</small></h1>
                    <p>{{book.text}}</p>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary" (click)="subscribeToBook(book.id)" >Subscribe</button>
                  </div>
            </div>
        </div>
    </div>
</div>
